<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container pb-3">


  <nav class="nav">
    <% @categories.each do |category| %>
      <div class="btn nav-link active"><%= category.title %></div>
    <% end %>
  </nav>
  <div class="card">
    <% @categories.each do |category| %>
      <ul id="<%= category.title %>">
        <% category.tasks.each do |task| %>
          <li>
            <%= task.title %>
            <% unless task.deadline.nil? %>
              , to read: <%= task.deadline.strftime('%D') %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>

  $(function () {
    $(".btn.nav-link:first").toggleClass('btn-info');
    $(".btn.nav-link:not(:first)").toggleClass('btn-outline-info');
    $("div.card > ul:not(:first)").hide();

    $(".btn.nav-link").click(function() {
      $(this).addClass("btn-info");
      $(this).removeClass("btn-outline-info");
      $(this).siblings().addClass("btn-outline-info");
      $(this).siblings().removeClass("btn-info");

      for (let i = 0; i<$("div.card > ul").length; i++) {
        idLabel = $("div.card > ul")[i];
        if($(this).text() == idLabel.id) {
          $("div.card > ul").eq(i).show()
        } else {
          $("div.card > ul").eq(i).hide()
        }
      };
    });

  });
</script>